.features {

  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.features-content {
  padding: 1rem;
  gap: 7rem;
}

.features-text {
  text-align: center;
  padding: 0 1rem;

  @media (min-width: 768px) {
    text-align: left;
    margin-bottom: 0;
  }

  .features__header {
    margin-bottom: 2rem;
    color: hsl(228, 39%, 23%);
  }

  p {
    line-height: 2rem;
    opacity: .5;
  }
}

.features-items {
  counter-reset: counter-name;
  margin-top: .5rem;

  .features-item {
    width: 100%;
    padding: .6rem 1.8rem;
    margin-bottom: .5rem;
    list-style-type: none;
    position: relative;
    left: 2.1rem;
    background-color: lighten($color: hsl(12, 88%, 59%), $amount: 35%);
    border-radius: 20px;

    @media (min-width: 768px) {
      background-color: white;
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  .features-item::before {
    content: counter(counter-name);
    counter-increment: counter-name;
    display: inline;
    position: absolute;
    top: -0.10rem;
    left: -2.7rem;
    background-color: hsl(12, 88%, 59%);
    color: white;
    padding: .9em 1.8rem;
    border-radius: 25px;

    @media (min-width: 768px) {
      left: -4.7rem;
      top: -.5rem;
    }
  }

  h3 {
    color: hsl(228, 39%, 23%);
  }

  p {
    line-height: 2rem;
    opacity: .5;
    margin-bottom: 2rem;
  }
}