button {
  background-color: hsl(12, 88%, 59%);
  border: none;
  padding: 1rem 1.7rem;
  border-radius: 25px;
  color: white;
  font-size: .9rem;
  font-weight: 700;
  box-shadow: 0 10px 100px 1px hsl(12, 88%, 59%);
  cursor: pointer;
}